@model GST.Models.PUCH
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style type="text/css">
    .input-xs {
        height: 22px;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .focus {
        border: 2px solid red;
        background-color: #FEFED5;
    }

    .custom-date-style {
        background-color: red !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div id="grid1"></div>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <td width="60%">
                    <div>
                        <table id="mntbl"></table>
                        <div id="mnpgr"></div>
                    </div>
                </td>
                <td width="40%">
                    <table id="mntbl1"></table>
                    <div id="mnpgr1"></div>
                </td>
            </tr>
        </table>
        <table class="table table-hover table-bordered table-responsive ui-front" style="font-size:x-small;">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BNO)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BNO, new { @class = "form-control input-xs", @id = "txtBNO" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.BDATE)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BDATE, new { @class = "form-control input-xs", @id = "txtBDATE", @type = "date" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.IGST)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.IGST, new { @class = "form-control input-xs", @id = "IGST", @readonly = "readonly" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.GTOT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.GTOT, new { @class = "form-control input-xs", @id = "txtGTOT", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CUST)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CUST, new { @class = "form-control input-xs", @id = "txtCUST" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.VNO)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.VNO, new { @class = "form-control input-xs", @id = "txtVNO" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CGST)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CGST, new { @class = "form-control input-xs", @id = "CGST", @readonly = "readonly" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ROUND)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ROUND, new { @class = "form-control input-xs", @id = "txtROUND", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ADDRESS)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ADDRESS, new { @class = "form-control input-xs", @id = "txtADDRESS" })
                </td>

                <td>
                    @Html.DisplayNameFor(model => model.MODE)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.MODE, new { @class = "form-control input-xs", @id = "txtMODE" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.SGST)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.SGST, new { @class = "form-control input-xs", @id = "SGST", @readonly = "readonly" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.NTOT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BAMT, new { @class = "form-control input-xs", @id = "txtBAMT", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    @Html.HiddenFor(model => model.TOTAL, new { @id = "txtTOTAL" })
                    @Html.HiddenFor(model => model.PAYMENT, new { @id = "txtPAYMENT" })
                    @Html.HiddenFor(model => model.USER1, new { @id = "txtUSER1" })
                    @Html.HiddenFor(model => model.CBILL, new { @id = "txtCBILL" })
                    @Html.HiddenFor(model => model.BAPAY, new { @id = "txtBAPAY" })
                    @Html.HiddenFor(model => model.BST, new { @id = "txtBST" })
                    @Html.HiddenFor(model => model.BID1, new { @id = "txtBID1" })
                    @Html.HiddenFor(model => model.NTOT, new { @id = "txtNTOT" })
                    @Html.HiddenFor(model => model.BID, new { @id = "txtBID" })
                </td>
            </tr>
        </table>
    </fieldset>
}
<div id="pg1">
    <input id="NBILL" value="New Bill" type="button" style='margin-left: 5px;' />
    <input id='BTN3' type='button' value='Add New Item' style='margin-left:5px' />
    <input type="button" value="Save Bill" id="btnNBILL" style='margin-left:5px' />
    <input id="REFBILL" value="Refresh" type="button" style='margin-left: 5px;' />
    <input id="UPDBILL" value="Update Bill" type="button" style='margin-left: 5px;' />
    <input id="PRINTBILL" value="Print" type="button" style='margin-left: 5px;' />
    <input id='searchField' type='text' style='margin-left:5px' />
</div>
<div id="popupWindow" class="ADD_ITEM" title="ADD NEW ITEM">
    <div style="overflow: hidden;">
        <table class="table table-hover table-bordered ui-front">
            <tr>
                <td nowrap><label for="txtBNO1">BILL NO:</label></td>
                <td align="left" colspan="5"><input id="txtBNO1" type="text" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td nowrap><label for="txtPTNAME">PART NAME:</label></td>
                <td colspan="2" align="left"><input id="txtPTNAME" type="text" class="form-control input-xs" /></td>
                <td nowrap><label for="txtCGST">CGST RATE:</label></td>
                <td align="left"><input id="txtCGSTR" type="number" class="form-control input-xs" /></td>
                <td><input id="txtCGST" type="number" class="form-control input-xs" readonly="readonly" /></td>
            </tr>
            <tr>
                <td><label for="txtPTNO">HSN NO:</label></td>
                <td colspan="2" align="left"><input id="txtPTNO" type="text" class="form-control input-xs" /></td>
                <td nowrap><label for="txtSGST">SGST RATE:</label></td>
                <td align="left"><input id="txtSGSTR" type="number" class="form-control input-xs" /></td>
                <td><input id="txtSGST" type="number" class="form-control input-xs" readonly="readonly" /></td>
            </tr>
            <tr>
                <td><label for="txtMRP">MRP:</label></td>
                <td colspan="2" align="left"><input id="txtMRP" type="number" class="form-control input-xs" /></td>
                <td nowrap><label for="txtTVAL1">TAX VALUE:</label></td>
                <td colspan="2" align="left"><input id="txtTVAL1" type="number" class="form-control input-xs" readonly="readonly" /></td>
            </tr>
            <tr>
                <td><label for="txtSPRICE">SELL PRICE:</label></td>
                <td colspan="2" align="left"><input id="txtSPRICE" type="number" class="form-control input-xs" /></td>
                <td nowrap><label for="txtTOT">ITEM TOTAL:</label></td>
                <td colspan="2" align="left"><input id="txtTOT" type="number" class="form-control input-xs" readonly="readonly" /></td>
            </tr>
            <tr>
                <td><label for="txtQTY">QUANTITY:</label></td>
                <td colspan="2" align="left"><input id="txtQTY" type="number" class="form-control input-xs" /></td>
                <td nowrap><label for="txtSTC">IN STOCK:</label></td>
                <td colspan="2" align="left"><input id="txtSTC" type="number" class="form-control input-xs" readonly="readonly" /></td>
            </tr>
            <tr>
                <td><label for="txtTRATE">IGST RATE:</label></td>
                <td align="left"><input id="txtTRATE" type="number" class="form-control input-xs" /></td>
                <td><input id="txtIGST" type="number" class="form-control input-xs" readonly="readonly" /></td>
                <td nowrap><label for="txtUNIT">UNIT:</label></td>
                <td colspan="2" align="left"><input id="txtUNIT" type="text" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td colspan="6">
                    <input type="hidden" id="BILLID-TXT" />
                    <input type="hidden" id="BID-TXT" />
                    <input type="hidden" id="qinc" />
                    <input type="hidden" id="STRID1" />
                    <input type="hidden" id="STRID" />
                    <input type="hidden" id="STTYPE" />
                    <input type="hidden" id="STPART_NO" />
                    <input type="hidden" id="STPARTI" />
                    <input type="hidden" id="STMRP" />
                    <input type="hidden" id="STQTY" />
                    <input type="hidden" id="STTOTAL" />
                    <input type="hidden" id="STRACKNO" />
                    <input type="hidden" id="STTAX" />
                    <input type="hidden" id="STTVAL" />
                    <input type="hidden" id="STSTOTAL" />
                    <input type="hidden" id="STPPRICE" />
                    <input type="hidden" id="STUNIT" />
                    <input type="hidden" id="STSPRICE" />
                    <input type="hidden" id="STSSTA" />
                    <input type="hidden" id="STEOR" />
                    <input type="hidden" id="STDPCODE" />
                    <input type="hidden" id="STLMODI" />
                    <input type="hidden" id="STGROP" />
                    <input type="hidden" id="STAEDT" />
                    <input type="hidden" id="STUSER1" />
                    <input type="hidden" id="txtSTOT" />
                    <input type="hidden" id="txtTOT2" />
                    <input type="hidden" id="OSTC" />
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px;" align="right" colspan="6"><input style="margin-right: 5px;" type="button" id="Save" value="Save" /><input id="Cancel" type="button" value="Cancel" style="margin-right: 5px;" /><input id="del" type="button" value="Delete" style="margin-right: 5px;" /></td>
            </tr>
        </table>
    </div>
</div>

<div id="CHALLAN">
    <div>PRINT</div>
    <div style="overflow: hidden;">
        <div class="navbar-form">
            <table class="table table-bordered table-hover table-responsive" style="overflow:auto">
                <tr>
                    <td align="center">
                        <form method="post" action="/BILL/PRINTCHALLAN">
                            <input type="hidden" id="txtBNOH" placeholder="BILL NO" class="form-control" name="BNO" />
                            <input type="hidden" id="txtBDATEH" placeholder="BILL NO" class="form-control" name="BDATE" />
                            <input type="hidden" id="txtCUSTH" placeholder="BILL NO" class="form-control" name="CUST" />
                            <input type="hidden" id="txtSNAMEH" placeholder="BILL NO" class="form-control" name="SNAME" />
                            <input type="hidden" id="txtADDRESSH" placeholder="BILL NO" class="form-control" name="ADDR" />
                            <input type="hidden" id="txtVNOH" placeholder="BILL NO" class="form-control" name="VNO" />
                            <input type="submit" value="PRINT CHALLAN" class="btn btn-danger btn-lg" id="PCHALLAN" />
                        </form>
                    </td>
                    <td align="center">
                        <form method="post" action="/BILL/PRINTBILL">
                            <input type="hidden" id="txtBNOH1" placeholder="BILL NO" class="form-control" name="BNO" />
                            <input type="hidden" id="txtBDATEH1" placeholder="BILL NO" class="form-control" name="BDATE" />
                            <input type="hidden" id="txtCUSTH1" placeholder="BILL NO" class="form-control" name="CUST" />
                            <input type="hidden" id="txtSNAMEH1" placeholder="BILL NO" class="form-control" name="SNAME" />
                            <input type="hidden" id="txtADDRESSH1" placeholder="BILL NO" class="form-control" name="ADDR" />
                            <input type="hidden" id="txtVNOH1" placeholder="BILL NO" class="form-control" name="VNO" />
                            <input type="submit" value="PRINT BILL" class="btn btn-success btn-lg" id="PCHALLAN1" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>>
</div>

<div id="messageNotification">
    <div id="msg"></div>
</div>

<div id="C-FORM" title="BILL BASIC">
    <div style="overflow: hidden;">
        <table class="table table-bordered table-hover table-responsive adn1" style="font-size : smaller">
            <tr>
                <td nowrap><label for="GSTIN">GSTIN:</label></td>
                <td colspan="3"><input id="GSTIN" name="GSTIN" type="text" value="" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td nowrap><label for="STATE">STATE:</label></td>
                <td><input id="STATE" name="STATE" type="text" value="" class="form-control input-xs" /></td>
                <td nowrap><label for="STATECO">STATE CODE:</label></td>
                <td><input id="STATECO" name="STATECO" type="text" value="" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td nowrap><label for="ADDRESS">ADDRESS:</label></td>
                <td colspan="3"><input id="ADDRESS" name="ADDRESS" type="text" value="" class="form-control input-xs" /></td>
            </tr>
            <tr><td colspan=4><input id="SC-FORM" type="button" class="btn btn-info btn-xs form-control" value="Save" /></td></tr>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
            var changessave = true;
            var EMODE = true;
            var EMODE1 = true;
            var NMODE = true;
            var isdel = true;
            var isupd = true;
            var con;
            $(function () {
                var source;
                var source1;
                $(document).ready(function () {
                    $("#IGST").val("0");
                    $("#CGST").val("0");
                    $("#SGST").val("0");
                    $("#txtGTOT").val("0");
                    $("#txtROUND").val("0");
                    $("#txtBAMT").val("0");
                    $('#txtTOTAL').val("0");
                    $('#searchField').focus();
                    $("#searchField").jqxInput({ placeHolder: "SEARCH", height: 20, width: 200, minLength: 1, theme: 'ui-start' });

                    $("#CHALLAN").jqxWindow({
                        maxHeight: '50%', minWidth: '50%', theme: 'orange', isModal: true, autoOpen: false, cancelButton: $("#cls4"), modalOpacity: 0.01
                    });

                    $("#CHALLAN").on('open', function () {
                        $("#txtBNOH").jqxInput('selectAll');
                        $("#txtBNOH").focus();
                    });

                    $("#Cancel").jqxButton({ template: "warning" });
                    $("#del").jqxButton({ template: "danger" });
                    $("#Save").jqxButton({ template: "success" });
                    $("#btnNBILL").jqxButton({ template: "primary" });
                    $('#REFBILL').jqxButton({ template: "success" });
                    $('#NBILL').jqxButton({ template: "success" });
                    $('#UPDBILL').jqxButton({ template: "warning" });
                    $('#PRINTBILL').jqxButton({ template: "info" });
                    $('#BTN3').jqxButton({ template: "warning" });

                    $('#mntbl').jqGrid({
                        url: '/BILL/BILL/',
                        datatype: 'json',
                        mtype: 'GET',
                        postData: { BNO: function () { return '0'; } },
                        colNames: ['BILLID', 'BID', 'HSN NO', 'PART NAME', 'MRP', 'SELL PRICE', 'QTY', 'UNIT', 'TAX VALUE', 'AMOUNT', 'ACTION'],
                        colModel: [
                            { key: true, hidden: true, name: 'BILLID', index: 'BILLID', editable: true, editrules: { edithidden: true } },
                            { key: false, hidden: true, name: 'BID', index: 'BID', editable: true, editrules: { edithidden: true } },
                            { key: false, name: 'HSN_NO', index: 'HSN_NO', editable: true, width: '10%' },
                            { key: false, name: 'PARTI', index: 'PARTI', editable: true, width: '40%' },
                            { key: false, hidden: true, name: 'MRP', index: 'MRP', editable: true },
                            { key: false, name: 'SPRICE', index: 'SPRICE', editable: true, width: '10%' },
                            { key: false, name: 'SQTY', index: 'SQTY', editable: true, width: '5%' },
                            { key: false, name: 'UNIT', index: 'UNIT', editable: true, width: '5%' },
                            { key: false, name: 'TVAL', index: 'TVAL', editable: true, width: '10%' },
                            { key: false, name: 'STOT', index: 'STOT', editable: true, width: '10%' },
                            { name: 'act', index: 'act', sortable: false, width: '10%', allign: 'right' }
                        ],
                        toppager: true,
                        pager: jQuery('#mnpgr'),
                        height: 285,
                        width: 750,
                        rowNum: 100000000,
                        rowList: [],
                        pgbuttons: false,
                        pgtext: null,
                        loadComplete: function () {
                            $("option[value=100000000]").text('All');
                            var grid = jQuery("#mntbl");
                            var ids = grid.jqGrid("getDataIDs");
                            grid.jqGrid("setSelection", ids[0]);
                        },
                        footerrow: true,
                        gridComplete: function () {
                            $('#mntbl_toppager_center').empty();
                            var ids = jQuery("#mntbl").getDataIDs();
                            for (var i = 0; i < ids.length; i++) {
                                var cl = ids[i];
                                be = "<button onclick=gtmntblid(" + cl + ")><span class='ui-button-icon ui-icon ui-icon-pencil'></span></button>";
                                jQuery("#mntbl").setRowData(ids[i], { act: be })
                            }
                            var $grid = $('#mntbl');
                            var colSum = $grid.jqGrid('getCol', 'STOT', false, 'sum');
                            $grid.jqGrid('footerData', 'set', { 'STOT': colSum });
                        },
                        emptyrecords: 'BLANK',
                        loadonce: true,
                        shrinkToFit: true,
                        viewrecords: true,
                        caption: "SALES ITEMS DETAILS",
                        scrollrows: true,
                            jsonReader: {
                        root: 'rows',
                        page: 'page',
                        total: 'total',
                        records: 'records',
                        repeatitems: false,
                        id: '0'
                            }
                    }).navGrid('#mnpgr', { edit: false, add: false, del: false, refresh: true, search: true, view: true, cloneToTop: true }).jqGrid('navButtonAdd', '#mnpgr', {
                        caption: "", buttonicon: "ui-icon-calculator", title: "choose columns",
                        onClickButton: function () {
                            $('#mntbl').jqGrid('columnChooser', {
                                width: 550,
                                dialog_opts: {
                                    modal: true,
                                    minWidth: 470,
                                    height: 470,
                                    show: 'blind',
                                    hide: 'explode',
                                    dividerLocation: 0.5
                                }
                            });
                        }
                    });

                    $("#mntbl_toppager table.navtable tbody tr").append($("#pg1"));

                    $('#mntbl1').jqGrid({
                        url: '/BILL/BILL1/',
                        datatype: 'json',
                        mtype: 'GET',
                        colNames: ['BID', 'BILL NO', 'DATE', 'CUSTOMER', 'AMOUNT' , 'ACTION'],
                        colModel: [
                            { key: true, hidden: true, name: 'BID', index: 'BID', editable: true, editrules: { edithidden: true } },
                            { key: false, name: 'BNO', index: 'BNO', editable: true, width: '10%' },
                            { key: false, name: 'BDATE', index: 'BDATE', editable: true, width: '20%', formatter: 'date', formatoptions: { srcformat: 'd/m/Y', newformat: 'd-m-Y' } },
                            { key: false, name: 'CUST', index: 'CUST', editable: true, width: '50%' },
                            { key: false, name: 'BAMT', index: 'BAMT', editable: true, width: '10%' },
                            { name: 'act', index: 'act', sortable: false, width: '10%', allign: 'right' }
                        ],
                        toppager: true,
                        pager: jQuery('#mnpgr1'),
                        height: 285,
                        width: 540,
                        rowNum: 100000000,
                        rowList: [],
                        pgbuttons: false,
                        pgtext: null,
                        loadComplete: function () {
                            $("option[value=100000000]").text('All');
                            var grid = jQuery("#mntbl1");
                            var ids = grid.jqGrid("getDataIDs");
                            grid.jqGrid("setSelection", ids[0]);
                        },
                        footerrow: true,
                        gridComplete: function () {
                            $('#mntbl1_toppager_center').empty();
                            var ids = jQuery("#mntbl1").getDataIDs();
                            for (var i = 0; i < ids.length; i++) {
                                var cl = ids[i];
                                be = "<button onclick=gtmntblid1(" + cl + ")><span class='ui-button-icon ui-icon ui-icon-pencil'></span></button>";
                                jQuery("#mntbl1").setRowData(ids[i], { act: be })
                            }
                            var $grid = $('#mntbl1');
                            var colSum = $grid.jqGrid('getCol', 'BAMT', false, 'sum');
                            $grid.jqGrid('footerData', 'set', { 'BAMT': colSum });
                        },
                        emptyrecords: 'BLANK',
                        loadonce: true,
                        shrinkToFit: true,
                        viewrecords: true,
                        caption: "SALES BILLS",
                        scrollrows: true,
                        jsonReader: {
                            root: 'rows',
                            page: 'page',
                            total: 'total',
                            records: 'records',
                            repeatitems: false,
                            id: '0'
                        }
                    }).navGrid('#mnpgr1', { edit: false, add: false, del: false, refresh: true, search: true, view: true, cloneToTop: true }).jqGrid('navButtonAdd', '#mnpgr1', {
                        caption: "", buttonicon: "ui-icon-calculator", title: "choose columns",
                        onClickButton: function () {
                            $('#mntbl1').jqGrid('columnChooser', {
                                width: 550,
                                dialog_opts: {
                                    modal: true,
                                    minWidth: 470,
                                    height: 470,
                                    show: 'blind',
                                    hide: 'explode',
                                    dividerLocation: 0.5
                                }
                            });
                        }
                    });

                    $("#popupWindow").dialog({
                        modal: true,
                        autoOpen: false,
                        width: '80%',
                        position: {
                            my: "center center",
                            at: "center center"
                        },
                        show: "slide",
                        hide: 'explode'
                    });

                    $("#C-FORM").dialog({
                        modal: true,
                        autoOpen: false,
                        width: '50%',
                        position: {
                            my: "center center",
                            at: "center center"
                        },
                        show: "slide",
                        hide: 'explode'
                    });

                    $('#txtQTY').keyup(function (e) {
                        if (EMODE == false)
                        {
                            var stt = parseFloat($('#OSTC').val()) - parseFloat($('#txtQTY').val());
                            $('#STQTY').val(parseFloat($('#qinc').val()) - stt)
                            $('#STTOTAL').val((parseFloat($('#STQTY').val()) * parseFloat($('#txtMRP').val())).toFixed(2));
                        }
                        else
                        {
                            $('#STQTY').val(parseFloat($('#qinc').val()) + parseFloat($('#txtQTY').val()))
                            $('#STTOTAL').val((parseFloat($('#STQTY').val()) * parseFloat($('#txtMRP').val())).toFixed(2));
                        }
                        e.preventDefault();
                    });

                    $('#txtTRATE').keyup(function (e) {
                        $('#txtIGST').val(parseFloat($('#txtTRATE').val()) * parseFloat($('#txtQTY').val()) * parseFloat($('#txtSPRICE').val()) / 100)
                        $('#txtTVAL1').val($('#txtIGST').val())
                        $('#txtTOT').val(parseFloat($('#txtMRP').val()) * parseFloat($('#txtQTY').val()))
                        $('#txtSTOT').val(parseFloat($('#txtSPRICE').val()) * parseFloat($('#txtQTY').val()))
                        $('#STTVAL').val(parseFloat($('#txtTRATE').val()) * parseFloat($('#STQTY').val()) * parseFloat($('#txtSPRICE').val()) / 100)
                    });
                    $('#txtCGSTR').keyup(function (e) {
                        if($("#txtIGST").val()>= 1)
                        {
                            $('#txtCGST').val("0")
                            $('#txtSGSTR').val("0")
                            $('#txtSGST').val("0")
                        }
                        else
                        {
                            $('#txtCGST').val(parseFloat($('#txtCGSTR').val()) * parseFloat($('#txtQTY').val()) * parseFloat($('#txtSPRICE').val()) / 100)
                            $('#txtSGSTR').val($('#txtCGSTR').val())
                            $('#txtSGST').val(parseFloat($('#txtCGSTR').val()) * parseFloat($('#txtQTY').val()) * parseFloat($('#txtSPRICE').val()) / 100)
                            $('#txtTVAL1').val(parseFloat($('#txtCGST').val()) + parseFloat($('#txtSGST').val()))
                            $('#txtIGST').val("0")
                            $('#txtTOT').val(parseFloat($('#txtMRP').val()) * parseFloat($('#txtQTY').val()))
                            $('#txtSTOT').val(parseFloat($('#txtSPRICE').val()) * parseFloat($('#txtQTY').val()))
                            $('#txtTRATE').val(parseFloat($('#txtCGSTR').val()) * 2)
                            $('#STTVAL').val(parseFloat($('#txtCGSTR').val()) * parseFloat($('#STQTY').val()) * parseFloat($('#txtSPRICE').val()) / 100 * 2)
                        }
                    });
                });

                $('#PRINTBILL').click(function () {
                    $("#CHALLAN").jqxWindow('show');
                });

                $("#BTN3").click(function (e) {
                    if (!$('#txtBNO').val()) {
                        alert("Please Add Bill No First!");
                    }
                    else {
                        $("#popupWindow").dialog("open");
                        $("#txtBNO1").val($("#txtBNO").val());
                        RCON()
                        $('#txtPTNAME').focus();
                    }
                    e.preventDefault();
                });

                $('#searchField').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $("#BTN3").click();
                        e.preventDefault();
                    }
                });

                $('#REFBILL').click(function () {
                    var nurl = '/BILL/BILL/';
                    jQuery('#mntbl').jqGrid('clearGridData');
                    jQuery('#mntbl').jqGrid('setGridParam', { url: nurl, datatype: 'json', postData: { BNO: function () { return $("#txtBNO").val(); } } }).trigger("reloadGrid");
                });

                $('#Save').click(function (e) {
                    if(EMODE==true)
                    {
                        ADDNMODE()
                    }
                    else if(EMODE==false)
                    {
                        ADDEMODE()
                    }
                    e.preventDefault();
                });

                $('#btnNBILL').click(function (e) {
                   ADDBILL()
                });

                $('#txtBNO').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtCUST').focus();
                        e.preventDefault();
                    }
                });
                $('#txtCUST').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $("#C-FORM").dialog("open");
                        e.preventDefault();
                    }
                });
                $('#txtADDRESS').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtBDATE').focus();
                        e.preventDefault();
                    }
                });
                $('#txtBDATE').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtVNO').focus();
                        e.preventDefault();
                    }
                });
                $('#txtVNO').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtMODE').focus();
                        e.preventDefault();
                    }
                });
                $('#txtMODE').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#searchField').focus();
                        e.preventDefault();
                    }
                });
                $('#txtPTNAME').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtPTNO').focus();
                        e.preventDefault();
                    }
                });
                $('#txtPTNO').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtMRP').focus();
                        e.preventDefault();
                    }
                });
                $('#txtMRP').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtSPRICE').focus();
                        e.preventDefault();
                    }
                });
                $('#txtSPRICE').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtQTY').focus();
                        e.preventDefault();
                    }
                });
                $('#txtQTY').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtTRATE').focus();
                        e.preventDefault();
                    }
                });
                $('#txtTRATE').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtCGSTR').focus();
                        e.preventDefault();
                    }
                });
                $('#txtCGSTR').keypress(function (e) {
                    if (e.keyCode == 13) {
                        $('#txtUNIT').focus();
                        e.preventDefault();
                    }
                });
                $("#txtPTNAME").autocomplete({
                    source: '@Url.Action("GetParti")'
                });
                $("#txtPTNAME").keypress(function (e) {
                        if (e.keyCode == 13) {
                            $('#txtPTNO').focus()
                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("gdata2","BILL")",
                                data: { aData: $("#txtPTNAME").val() },
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {
                                    $.each(data, function (i, val) {
                                        $("#STRID1").val(val.RID1)
                                        $('#txtPTNO').val(val.HSN_NO)
                                        $('#txtUNIT').val(val.UNIT)
                                        $('#txtMRP').val(val.MRP)
                                        $('#txtSPRICE').val(val.SPRICE)
                                        $('#txtSTC').val(val.QTY)
                                        $('#qinc').val(val.QTY)
                                    });
                                },
                                error: function OnErrorCall(response) {
                                    alert(response.status + " " + response.responseText);
                                }
                            });
                            e.preventDefault();
                        }
                });

                $('#del').click(function (e) {
                    $('#STQTY').val(parseFloat($('#qinc').val()) - parseFloat($('#txtQTY').val()))
                    $('#STTOTAL').val((parseFloat($('#STQTY').val()) * parseFloat($('#txtMRP').val())).toFixed(2));
                    var dataObject2 = {
                        RID1: $("#STRID1").val(),
                        HSN_NO: $("#txtPTNO").val(),
                        PARTI: $("#txtPTNAME").val(),
                        MRP: $("#txtMRP").val(),
                        QTY: $("#STQTY").val(),
                        SPRICE: $("#txtSPRICE").val(),
                        TOTAL: $("#STTOTAL").val(),
                        TAX: $('#txtTRATE').val(),
                        UNIT: $("#txtUNIT").val(),
                        RID: new Date($.now()),
                        PPRICE: $('#txtSPRICE').val(),
                        TVAL: $('#STTVAL').val(),
                        USER1: '@HttpContext.Current.User.Identity.Name.ToString()'
                    };
                    $.ajax({
                        url: "@Url.Action("DELITEM_BILL", "BILL")",
                        type: "POST",
                        data: { "id": $('#BILLID-TXT').val() },
                        dataType: "json",
                        success: function (data) {
                            if (data.toString() != "Successfully Saved!") {
                                alert(data.toString());
                            }
                            else {
                                var nurl = '/BILL/BILL/';
                                jQuery('#mntbl').jqGrid('clearGridData');
                                jQuery('#mntbl').jqGrid('setGridParam', { url: nurl, datatype: 'json', postData: { BNO: function () { return $("#txtBNO").val(); } } }).trigger("reloadGrid");
                                $("#IGST").val(parseFloat($("#IGST").val()) - parseFloat($("#txtIGST").val()));
                                $("#CGST").val(parseFloat($("#CGST").val()) - parseFloat($("#txtCGST").val()));
                                $("#SGST").val(parseFloat($("#SGST").val()) - parseFloat($("#txtSGST").val()));
                                $("#txtGTOT").val(parseFloat($("#txtGTOT").val()) - parseFloat($("#txtSTOT").val()));
                                $('#txtBAMT').val(Math.round((parseFloat($('#txtGTOT').val()) - parseFloat($('#IGST').val()) + parseFloat($('#CGST').val()) + parseFloat($('#SGST').val()))).toFixed(2));
                                var TVAL = parseFloat($('#IGST').val()) + parseFloat($('#CGST').val()) + parseFloat($('#SGST').val());
                                var rnd = parseFloat($('#txtBAMT').val()) - (parseFloat($('#txtGTOT').val()) + parseFloat(TVAL));
                                $('#txtROUND').val(rnd.toFixed(2));
                                var mde = $('#txtMODE').val();
                                if (mde == "CREDIT") {
                                    $('#txtNTOT').val($('#txtBAMT').val());
                                    $('#txtTOTAL').val(Math.round(parseFloat($('#txtTOT').val()) + parseFloat($('#txtTOTAL').val())).toFixed(2));
                                    $('#txtBAPAY').val($('#txtBAMT').val());
                                    $('#txtBST').val("UP");
                                    $('#txtMODE').val(mde);
                                    $('#txtCBILL').val("0.00");
                                }
                                else {
                                    $('#txtCBILL').val($('#txtBAMT').val());
                                    $('#txtMODE').val(mde);
                                    $('#txtNTOT').val("0.00");
                                    $('#txtBAPAY').val("0.00");
                                    $('#txtBST').val("FP");
                                }
                            }
                    },
                        error: function OnErrorCall(response) {
                        alert(response.status + " " + response.responseText);
                    }
                    });
                    $.ajax({
                        url: "@Url.Action("UPSTC", "BILL")",
                        type: "POST",
                    data: dataObject2,
                    dataType: "json",
                    success: function (data) {
                        if (data.toString() != "Successfully Saved!") {
                            alert(data.toString());
                        }
                    },
                    error: function OnErrorCall(response) {
                        alert(response.status + " " + response.statusText);
                    }
                    });
                    $('.ADD_ITEM').find('input:text').val('');
                    $("#popupWindow").dialog("close");
                });
            });

            function gtmntblid(id) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("dtls", "BILL")",
                    data: { id: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                    $.each(data, function (i, val) {
                        $("#txtPTNO").val(val.HSN_NO)
                        $("#txtPTNAME").val(val.PARTI)
                        $("#txtMRP").val(val.MRP)
                        $('#txtQTY').val(val.SQTY)
                        $('#txtBNO1').val($('#txtBNO').val())
                        $('#txtSPRICE').val(val.SPRICE)
                        $('#txtTVAL1').val(val.TVAL)
                        $('#txtTRATE').val(val.IGSTR)
                        $('#txtTOT').val(val.TOTAL)
                        $('#txtTOT2').val(val.TOTAL)
                        $('#txtUNIT').val(val.UNIT)
                        $('#txtSTOT').val(val.STOT)
                        $('#BILLID-TXT').val(val.BILLID)
                        $('#BID-TXT').val(val.BID)
                        $('#OSTC').val(val.SQTY)
                        $("#txtIGST").val(val.IGST)
                        $("#txtCGST").val(val.CGST)
                        $("#txtSGST").val(val.SGST)
                        $("#txtCGSTR").val(val.CGSTR)
                        $("#txtSGSTR").val(val.SGSTR)
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("sdtls", "BILL")",
                            data: { id: $("#txtPTNAME").val() },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                $.each(data, function (i, val1) {
                                    $("#STRID1").val(val1.RID1)
                                    $('#txtSTC').val(val1.QTY)
                                    $('#qinc').val(val1.QTY)
                                });
                            },
                            error: function () {
                                alert(response.status + " " + response.responseText);
                            }
                        });
                    });
                    $("#popupWindow").dialog("open");
                    EMODE = false;
                    $('#txtMRP').focus();
                },
                error: function () {
                    alert(response.status + " " + response.responseText);
                }
            });
            }

        function ADDNMODE() {
            var dataObject = {
                BILLID: '@(System.Configuration.ConfigurationManager.AppSettings["RCON"].ToString())',
                    BILL_NO: $("#txtBNO1").val(),
                    HSN_NO: $("#txtPTNO").val(),
                    PARTI: $("#txtPTNAME").val(),
                    MRP: $("#txtMRP").val(),
                    SQTY: $("#txtQTY").val(),
                    SPRICE: $("#txtSPRICE").val(),
                    TOTAL: $("#txtTOT").val(),
                    IGST: $("#txtIGST").val(),
                    CGST: $("#txtCGST").val(),
                    SGST: $("#txtSGST").val(),
                    IGSTR: $("#txtTRATE").val(),
                    CGSTR: $("#txtCGSTR").val(),
                    SGSTR: $("#txtSGSTR").val(),
                    UNIT: $("#txtUNIT").val(),
                    BDATE: $("#txtBDATE").val(),
                    MODE: $("#txtMODE").val(),
                    BID: new Date($.now()),
                    CUST: $('#txtCUST').val(),
                    STOT: $('#txtSTOT').val(),
                    TVAL: $('#txtTVAL1').val(),
                    USER1: '@HttpContext.Current.User.Identity.Name.ToString()'
                };
                var dataObject1 = {
                    HSN_NO: $("#txtPTNO").val(),
                    PARTI: $("#txtPTNAME").val(),
                    MRP: $("#txtMRP").val(),
                    QTY: $("#txtQTY").val(),
                    SPRICE: $("#txtSPRICE").val(),
                    TOTAL: $("#txtTOT").val(),
                    TAX:$('#txtTRATE').val(),
                    UNIT: $("#txtUNIT").val(),
                    RID: '@(System.Configuration.ConfigurationManager.AppSettings["RCON"].ToString())',
                    PPRICE: $('#txtSPRICE').val(),
                    TVAL: $('#txtTVAL1').val(),
                    USER1: '@HttpContext.Current.User.Identity.Name.ToString()'
                };
                var dataObject2 = {
                    RID1: $("#STRID1").val(),
                    HSN_NO: $("#txtPTNO").val(),
                    PARTI: $("#txtPTNAME").val(),
                    MRP: $("#txtMRP").val(),
                    QTY: $("#STQTY").val(),
                    SPRICE: $("#txtSPRICE").val(),
                    TOTAL: $("#STTOTAL").val(),
                    TAX: $('#txtTRATE').val(),
                    UNIT: $("#txtUNIT").val(),
                    RID: new Date($.now()),
                    PPRICE: $('#txtSPRICE').val(),
                    TVAL: $('#STTVAL').val(),
                    USER1: '@HttpContext.Current.User.Identity.Name.ToString()'
                };
                $.ajax({
                    url: "@Url.Action("Save","BILL")",
                    type: "POST",
                    data: dataObject,
                    dataType: "json",
                    success: function (data) {
                        if (data.toString() != "Successfully Saved!") {
                            alert(data.toString());
                            }
                    else {
                        var nurl = '/BILL/BILL/';
                        jQuery('#mntbl').jqGrid('clearGridData');
                        jQuery('#mntbl').jqGrid('setGridParam', { url: nurl, datatype: 'json', postData: { BNO: function () { return $("#txtBNO").val(); } } }).trigger("reloadGrid");
                        $("#IGST").val(parseFloat($("#IGST").val()) + parseFloat($("#txtIGST").val()));
                        $("#CGST").val(parseFloat($("#CGST").val()) + parseFloat($("#txtCGST").val()));
                        $("#SGST").val(parseFloat($("#SGST").val()) + parseFloat($("#txtSGST").val()));
                        $("#txtGTOT").val(parseFloat($("#txtGTOT").val()) + parseFloat($("#txtSTOT").val()));
                        $('#txtBAMT').val(Math.round((parseFloat($('#txtGTOT').val()) + parseFloat($('#IGST').val()) + parseFloat($('#CGST').val()) + parseFloat($('#SGST').val()))).toFixed(2));
                        var TVAL = parseFloat($('#IGST').val()) + parseFloat($('#CGST').val()) + parseFloat($('#SGST').val());
                        var rnd = parseFloat($('#txtBAMT').val()) - (parseFloat($('#txtGTOT').val()) + parseFloat(TVAL));
                        $('#txtROUND').val(rnd.toFixed(2));
                        var mde = $('#txtMODE').val();
                        if (mde == "CREDIT") {
                            $('#txtNTOT').val($('#txtBAMT').val());
                            $('#txtTOTAL').val(Math.round(parseFloat($('#txtTOT').val()) + parseFloat($('#txtTOTAL').val())).toFixed(2));
                            $('#txtBAPAY').val($('#txtBAMT').val());
                            $('#txtBST').val("UP");
                            $('#txtMODE').val(mde);
                            $('#txtCBILL').val("0.00");
                        }
                        else {
                            $('#txtCBILL').val($('#txtBAMT').val());
                            $('#txtMODE').val(mde);
                            $('#txtNTOT').val("0.00");
                            $('#txtBAPAY').val("0.00");
                            $('#txtBST').val("FP");
                        }
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("DPL","BILL")",
                            data: { aData: $("#txtPTNAME").val() },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                            if (data == "0") {
                                $.ajax({
                                    url: "@Url.Action("ADSTC", "BILL")",
                                    type: "POST",
                                    data: dataObject1,
                                    dataType: "json",
                                    success: function (data) {
                                    if (data.toString() != "Successfully Saved!") {
                                        alert(data.toString());
                                    }
                                    else {
                                        RCON()
                                    }
                                    },
                                    error: function OnErrorCall(response) {
                                        alert(response.status + " " + response.statusText);
                                    }
                                });
                            }
                            else {
                                 $.ajax({
                                    url: "@Url.Action("UPSTC", "BILL")",
                                    type: "POST",
                                    data: dataObject2,
                                    dataType: "json",
                                    success: function (data) {
                                    if (data.toString() != "Successfully Saved!") {
                                        alert(data.toString());
                                        }
                                    },
                                     error: function OnErrorCall(response) {
                                        alert(response.status + " " + response.statusText);
                                    }
                            });
                }
            },
            error: function OnErrorCall(response) {
                alert(response.status + " " + response.statusText);
            }
            });
                       CLS()
            $("#popupWindow").dialog("close");
            }
            },
            error: function OnErrorCall(response) {
                alert(response.status + " " + response.statusText);
            }
            });
            }

            function ADDEMODE() {
                var dataObject = {
                    BILLID: $('#BILLID-TXT').val(),
                    BILL_NO: $("#txtBNO1").val(),
                    HSN_NO: $("#txtPTNO").val(),
                    PARTI: $("#txtPTNAME").val(),
                    MRP: $("#txtMRP").val(),
                    SQTY: $("#txtQTY").val(),
                    SPRICE: $("#txtSPRICE").val(),
                    TOTAL: $("#txtTOT").val(),
                    IGST: $("#txtIGST").val(),
                    CGST: $("#txtCGST").val(),
                    SGST: $("#txtSGST").val(),
                    IGSTR: $("#txtTRATE").val(),
                    CGSTR: $("#txtCGSTR").val(),
                    SGSTR: $("#txtSGSTR").val(),
                    UNIT: $("#txtUNIT").val(),
                    BDATE: $("#txtBDATE").val(),
                    MODE: $("#txtMODE").val(),
                    BID: new Date($.now()),
                    CUST: $('#txtCUST').val(),
                    STOT: $('#txtSTOT').val(),
                    TVAL: $('#txtTVAL1').val(),
                    USER1: '@HttpContext.Current.User.Identity.Name.ToString()'
                };
                var dataObject1 = {
                    HSN_NO: $("#txtPTNO").val(),
                    PARTI: $("#txtPTNAME").val(),
                    MRP: $("#txtMRP").val(),
                    QTY: $("#txtQTY").val(),
                    SPRICE: $("#txtSPRICE").val(),
                    TOTAL: $("#txtTOT").val(),
                    TAX:$('#txtTRATE').val(),
                    UNIT: $("#txtUNIT").val(),
                    RID: '@(System.Configuration.ConfigurationManager.AppSettings["RCON"].ToString())',
                    PPRICE: $('#txtSPRICE').val(),
                    TVAL: $('#txtTVAL1').val(),
                    USER1: '@HttpContext.Current.User.Identity.Name.ToString()'
                };
                var dataObject2 = {
                    RID1: $("#STRID1").val(),
                    HSN_NO: $("#txtPTNO").val(),
                    PARTI: $("#txtPTNAME").val(),
                    MRP: $("#txtMRP").val(),
                    QTY: $("#STQTY").val(),
                    SPRICE: $("#txtSPRICE").val(),
                    TOTAL: $("#STTOTAL").val(),
                    TAX: $('#txtTRATE').val(),
                    UNIT: $("#txtUNIT").val(),
                    RID: new Date($.now()),
                    PPRICE: $('#txtSPRICE').val(),
                    TVAL: $('#STTVAL').val(),
                    USER1: '@HttpContext.Current.User.Identity.Name.ToString()'
                };
                $.ajax({
                    url: "@Url.Action("UPD","BILL")",
                    type: "POST",
                data: dataObject,
                dataType: "json",
                success: function (data) {
                    if (data.toString() != "Successfully Saved!") {
                        alert(data.toString());
                    }
                    else {
                        var nurl = '/BILL/BILL/';
                        jQuery('#mntbl').jqGrid('clearGridData');
                        jQuery('#mntbl').jqGrid('setGridParam', { url: nurl, datatype: 'json', postData: { BNO: function () { return $("#txtBNO").val(); } } }).trigger("reloadGrid");
                        $("#IGST").val(parseFloat($("#IGST").val()) + parseFloat($("#txtIGST").val()));
                        $("#CGST").val(parseFloat($("#CGST").val()) + parseFloat($("#txtCGST").val()));
                        $("#SGST").val(parseFloat($("#SGST").val()) + parseFloat($("#txtSGST").val()));
                        $("#txtGTOT").val(parseFloat($("#txtGTOT").val()) + parseFloat($("#txtSTOT").val()));
                        $('#txtBAMT').val(Math.round((parseFloat($('#txtGTOT').val()) + parseFloat($('#IGST').val()) + parseFloat($('#CGST').val()) + parseFloat($('#SGST').val()))).toFixed(2));
                        var TVAL = parseFloat($('#IGST').val()) + parseFloat($('#CGST').val()) + parseFloat($('#SGST').val());
                        var rnd = parseFloat($('#txtBAMT').val()) - (parseFloat($('#txtGTOT').val()) + parseFloat(TVAL));
                        $('#txtROUND').val(rnd.toFixed(2));
                        var mde = $('#txtMODE').val();
                        if (mde == "CREDIT") {
                            $('#txtNTOT').val($('#txtBAMT').val());
                            $('#txtTOTAL').val(Math.round(parseFloat($('#txtTOT').val()) + parseFloat($('#txtTOTAL').val())).toFixed(2));
                            $('#txtBAPAY').val($('#txtBAMT').val());
                            $('#txtBST').val("UP");
                            $('#txtMODE').val(mde);
                            $('#txtCBILL').val("0.00");
                        }
                        else {
                            $('#txtCBILL').val($('#txtBAMT').val());
                            $('#txtMODE').val(mde);
                            $('#txtNTOT').val("0.00");
                            $('#txtBAPAY').val("0.00");
                            $('#txtBST').val("FP");
                        }
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("DPL","BILL")",
                            data: { aData: $("#txtPTNAME").val() },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (data == "0") {
                                    $.ajax({
                                        url: "@Url.Action("ADSTC", "BILL")",
                                        type: "POST",
                                        data: dataObject1,
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.toString() != "Successfully Saved!") {
                                            alert(data.toString());
                                            }
                                            else {
                                                RCON()
                                            }
                                        },
                                        error: function OnErrorCall(response) {
                                            alert(response.status + " " + response.statusText);
                                        }
                                });
                            }
                            else {
                                $.ajax({
                                        url: "@Url.Action("UPSTC", "BILL")",
                                        type: "POST",
                                        data: dataObject2,
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.toString() != "Successfully Saved!") {
                                                alert(data.toString());
                                            }
                                        },
                                        error: function OnErrorCall(response) {
                                            alert(response.status + " " + response.statusText);
                                                }
                                });
                            }
                        },
            error: function OnErrorCall(response) {
                alert(response.status + " " + response.statusText);
            }
            });
                        $('.ADD_ITEM').find('input:text').val('');
                        EMODE = true;
            $("#popupWindow").dialog("close");
            }
            },
            error: function OnErrorCall(response) {
                alert(response.status + " " + response.statusText);
            }
            });
            }

        function ADDBILL() {
            var dataObject = {
                BNO: $("#txtBNO").val(),
                BDATE: $("#txtBDATE").val(),
                CUST: $("#txtCUST").val(),
                GTOT: $('#txtGTOT').val(),
                NTOT: $('#txtNTOT').val(),
                VNO: $('#txtVNO').val(),
                ROUND: $('#txtROUND').val(),
                ADDRESS: $('#txtADDRESS').val(),
                MODE: $('#txtMODE').val(),
                IGST: $('#IGST').val(),
                CGST: $('#CGST').val(),
                SGST: $('#SGST').val(),
                PAYMENT: $('#txtPAYMENT').val(),
                USER1: $('#txtUSER1').val(),
                CBILL: $('#txtCBILL').val(),
                BAPAY: $('#txtBAPAY').val(),
                BST: $('#txtBST').val(),
                BID1: '@(System.Configuration.ConfigurationManager.AppSettings["RCON"].ToString())',
                BID: '@(System.Configuration.ConfigurationManager.AppSettings["RCON"].ToString())',
                TOTAL: $('#txtTOTAL').val(),
                BAMT: $('#txtBAMT').val()
            }
            $.ajax({
                url: "@Url.Action("ADDBILL", "BILL")",
                type: "POST",
                data: dataObject,
                dataType: "json",
                success: function (data) {
                    if (data.toString() != "Successfully Saved!") {
                    alert(data.toString());
                    }
                },
                error: function OnErrorCall(response) {
                    alert(response.status + " " + response.statusText);
                }
            });
        }

        function RCON() {
            $.ajax({
                url: "@Url.Action("RCON", "BILL")",
                type: "POST",
                dataType: "json",
                success: function (data) {
            },
            error: function OnErrorCall(response) {
                alert(response.status + " " + response.statusText);
            }
        });
        }
        function parseJsonDate(jsonDateString) {
            return new Date(parseInt(jsonDateString.replace('/Date(', '')));
        }
        jQuery(window).bind('beforeunload', function () {
                return false;
        });
        function CLS(){
            $("#txtPTNO").val("")
            $("#txtPTNAME").val("")
            $("#txtMRP").val("")
            $('#txtQTY').val("")
            $('#txtBNO1').val("")
            $('#txtSPRICE').val("")
            $('#txtTVAL1').val("")
            $('#txtTRATE').val("")
            $('#txtTOT').val("")
            $('#txtTOT2').val("")
            $('#txtUNIT').val("")
            $('#txtSTOT').val("")
            $('#BILLID-TXT').val("")
            $('#BID-TXT').val("")
            $('#OSTC').val("")
            $("#txtIGST").val("")
            $("#txtCGST").val("")
            $("#txtSGST").val("")
            $("#txtCGSTR").val("")
            $("#txtSGSTR").val("")
        }
    </script>
}






